<div class="container">
  <div fxLayout="row"
       fxLayoutAlign="center center"
       class="content">
    <mat-card class="card"
              *ngIf="!isProfileCollectionEmpty(); else emptyProfilesMessage">
      <mat-card-title fxLayout.gt-xs="row"
                      fxLayout.xs="column">
        <h3>Income Profiles</h3>
      </mat-card-title>
      <mat-card-content>
        <div class="profiles-container mat-elevation-z8">
          <mat-accordion>
            <ng-container *ngFor="let profile of profiles; trackBy trackProfiles">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  {{profile.profileName}}
                </mat-expansion-panel-header>
                <p>Net Income:
                  <span>{{profile.netIncome | number:'0.2-2' }}</span>
                </p>
                <p>Super Amount:
                  <span>{{profile.superAmount | number:'0.2-2' }}</span>
                </p>
                <p>Tax Amount:
                  <span>{{profile.taxAmount | number:'0.2-2' }}</span>
                </p>
                <p>Gross Income:
                  <span>{{profile.grossIncome | number:'0.2-2' }}</span>
                </p>
                <p>Fiscal Year:
                  <span>{{profile.fiscalYear}}</span>
                </p>

                <mat-action-row>
                  <a (click)="deleteProfile(profile.profileId)"
                     type="button">
                    <mat-icon>delete</mat-icon>
                  </a>
                </mat-action-row>
              </mat-expansion-panel>
            </ng-container>
          </mat-accordion>
        </div>
      </mat-card-content>
    </mat-card>
    <ng-template #emptyProfilesMessage>
      <p>
        Create some profiles!
      </p>
    </ng-template>
  </div>
</div>
