<div>

  <div *ngIf="authService.isAuthenticated(); else unAuthenticatedMessage">
    <div>
      <div class="controls"
           fxLayout="row"
           fxLayoutAlign="center center">
        <button class="add-profile"
                mat-raised-button
                color="primary">
          <a routerLink="/create-profile"
             fxLayout="row"
             fxLayoutAlign="center center">
            <mat-icon>add</mat-icon>
            <span> Add Profile</span>
          </a>
        </button>
      </div>
      <div class="content">
        <app-profiles-view></app-profiles-view>
      </div>
    </div>
  </div>

  <ng-template #unAuthenticatedMessage>
    <h3 class="login-help-text" >Login to create and view profiles</h3>
  </ng-template>
</div>
