<div>
  <br>
  <div class="container">
    <div class="container">
      <div fxLayout="column"
           fxLayoutGap="20px"
           fxLayout.gt-md="row"
           fxLayoutAlign="space-around center"
           class="content">
        <div class="blocks"
             *ngIf="authService.isAuthenticated()">
          <button button="submit"
                  mat-raised-button
                  color="primary"
                  (click)="openDialog()">
            <mat-icon>add</mat-icon> Add Calculation
          </button>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div fxLayout="row"
           fxLayoutAlign="center center"
           class="content">
        <mat-card class="card">
          <mat-card-title fxLayout.gt-xs="row"
                          fxLayout.xs="column">
            <h3>Calculations</h3>
          </mat-card-title>
          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <mat-table #table
                         [dataSource]="dataSource">
                <ng-container matColumnDef="profileName">
                  <mat-header-cell *matHeaderCellDef> Profile </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.profileName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="netIncome">
                  <mat-header-cell *matHeaderCellDef> Net Income </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.netIncome | number:'0.2-2' }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="superAmount">
                  <mat-header-cell *matHeaderCellDef> Superannuation </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.superAmount | number:'0.2-2' }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="taxAmount">
                  <mat-header-cell *matHeaderCellDef> Total Tax </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.taxAmount | number:'0.2-2' }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="grossIncome">
                  <mat-header-cell *matHeaderCellDef> Gross Income </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.grossIncome | number:'0.2-2' }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fiscalYear">
                  <mat-header-cell *matHeaderCellDef> Gross Income </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.fiscalYear}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="delete">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a (click)="deleteProfile(element.profileId)"
                       type="button">
                      <mat-icon class="icon">delete</mat-icon>
                    </a>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
