.create-profile-form {
  display: flex;
  flex-direction: column;
}

.create-profile-form > * {
  width: 100%;
  margin-bottom: 10px;
}

.create-profile-form .superannuation-toggle {
  margin-bottom: 25px;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
