<div class="container">
  <h2 mat-dialog-title>New Income Profile</h2>
  <div mat-dialog-content>
    <form class="create-profile-form"
          (ngSubmit)="onSubmit()">
      <mat-form-field [hideRequiredMarker]="true">
        <input matInput
               placeholder="Profile Name"
               type="text"
               required
               [(ngModel)]="profile.profileName"
               name="profileName">
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true">
        <input matInput
               placeholder="Superannuation (%)"
               type="number"
               required
               [(ngModel)]="profile.superPercentage"
               name="superPercentage"
               #superModel="ngModel">
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true">
        <input matInput
               placeholder="Income"
               type="number"
               required
               [(ngModel)]="profile.incomeAmount"
               name="income">
      </mat-form-field>

      <mat-slide-toggle class="superannuation-toggle"
                        [(ngModel)]="profile.incomeIncludesSuper"
                        color="primary"
                        labelPosition="before"
                        name="incomeIncludesSuper"> Includes Superannuation
      </mat-slide-toggle>

      <mat-form-field [hideRequiredMarker]="true">
        <input matInput
               placeholder="Tax Year"
               type="number"
               required
               [(ngModel)]="profile.fiscalYear"
               name="fiscalyear">
      </mat-form-field>

      <button mat-raised-button
              type="submit"
              color="primary">Save</button>
      <button mat-raised-button
              class="close"
              (click)="onCancel()"
              color="warn">Cancel</button>
    </form>
  </div>
</div>
