<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <form class="create-profile-form"
        (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput
             placeholder="Profile Name"
             type="text"
             required
             [(ngModel)]="profile.profileName"
             name="profileName">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="Supperannuation (%)"
             type="text"
             required
             [(ngModel)]="profile.superPercentage"
             name="superPercentage">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="Income"
             type="text"
             required
             [(ngModel)]="profile.incomeAmount"
             name="superPercentage">
    </mat-form-field>
    <mat-slide-toggle class="example-margin"
                      [(ngModel)]="profile.incomeIncludesSuper"
                      name="incomeIncludesSuper"> Income include Superannuation
    </mat-slide-toggle>
    <button mat-raised-button
            type="submit"
            color="primary">Save</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button
          class="close"
          (click)="onCancel()"
          color="warn">Cancel</button>
</div>
