<h1 mat-dialog-title> Login or Register </h1>
<div mat-dialog-content>
  <form class="login-form">
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput
             placeholder="username"
             type="text"
             required
             [(ngModel)]="username"
             name="username"
             #usernameModel="ngModel">
    </mat-form-field>
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput
             placeholder="password"
             type="password"
             required
             [(ngModel)]="password"
             name="password"
             #passwordModel="ngModel">
    </mat-form-field>

    <button mat-raised-button
            type="submit"
            class="login"
            color="primary"
            (click)="loginUser(usernameModel, passwordModel)"
            >Login</button>
    <button mat-raised-button
            type="submit"
            class="register"
            (click)="registerUser(usernameModel, passwordModel)"
            color="accent">Register</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button
          class="close"
          (click)="close()"
          color="warn">Cancel</button>
</div>
